<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>D&dSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>19/01/05 23:49:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_DuplicateLead.Dlead()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">Dlead</td> 
  <td>TestNG-test=Test-1@1818758043</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:49:48</td>   <td>44819</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterClass()[pri:0, instance:testcases.TC005_DeleteLead@5f9d02cb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@844073275</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:49:49</td>   <td>45757</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterClass()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1818758043</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:49:49</td>   <td>45850</td> <td title="&lt;&lt;Annotations.afterSuite()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1675763772</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:49:49</td>   <td>45757</td> <td>&nbsp;</td><td title="&lt;&lt;Annotations.afterTest()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1675763772</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:48:50</td>   <td>-13136</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeClass()[pri:0, instance:testcases.TC005_DeleteLead@5f9d02cb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@844073275</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:48:50</td>   <td>-13136</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeClass()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1818758043</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:48:50</td>   <td>-13168</td> <td title="&gt;&gt;Annotations.beforeSuite()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1675763772</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:48:50</td>   <td>-13152</td> <td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeTest()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1675763772</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/01/05 23:49:01</td>   <td>-1833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC005_DeleteLead.deleteLead()[pri:0, instance:testcases.TC005_DeleteLead@5f9d02cb]">deleteLead</td> 
  <td>TestNG-test=Test-2@844073275</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:48:50</td>   <td>-13105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC005_DeleteLead@5f9d02cb]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@844073275</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:48:50</td>   <td>-13105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1818758043</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:49:46</td>   <td>42453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.logout()[pri:0, instance:testcases.TC005_DeleteLead@5f9d02cb]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@844073275</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 23:49:47</td>   <td>43638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.logout()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1818758043</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/01/05 23:48:50</td>   <td>-13121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reports.report()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&gt;&gt;report</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1818758043</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/01/05 23:48:50</td>   <td>-13121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reports.report()[pri:0, instance:testcases.TC005_DeleteLead@5f9d02cb]">&gt;&gt;report</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@844073275</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/01/05 23:48:50</td>   <td>-13136</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC004_DuplicateLead.setData()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@1818758043</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/01/05 23:48:50</td>   <td>-13136</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC005_DeleteLead.setData()[pri:0, instance:testcases.TC005_DeleteLead@5f9d02cb]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@844073275</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/01/05 23:48:49</td>   <td>-13918</td> <td title="&gt;&gt;Reports.startReport()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1675763772</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>19/01/05 23:49:49</td>   <td>45850</td> <td title="&lt;&lt;Reports.stopReport()[pri:0, instance:testcases.TC004_DuplicateLead@3108bc]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1675763772</td>   <td></td> </tr>
</table>
