<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CreateEditSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>19/01/05 10:06:34</td>   <td>0</td> <td title="&gt;&gt;Annotations.beforeSuite()[pri:0, instance:testcases.EditLead@6fc6f14e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 10:06:34</td>   <td>16</td> <td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeTest()[pri:0, instance:testcases.EditLead@6fc6f14e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 10:06:34</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeClass()[pri:0, instance:testcases.EditLead@6fc6f14e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 10:06:34</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.BeforeMethod()[pri:0, instance:testcases.EditLead@6fc6f14e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/01/05 10:07:29</td>   <td>55616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.Elead()[pri:0, instance:testcases.EditLead@6fc6f14e]">Elead</td> 
  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 10:08:18</td>   <td>103917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.AfterMethod()[pri:0, instance:testcases.EditLead@6fc6f14e]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 10:08:20</td>   <td>106309</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterClass()[pri:0, instance:testcases.EditLead@6fc6f14e]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 10:08:20</td>   <td>106309</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeClass()[pri:0, instance:testcases.createlead@56235b8e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 10:08:20</td>   <td>106309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.BeforeMethod()[pri:0, instance:testcases.createlead@56235b8e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/01/05 10:09:49</td>   <td>195578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="createlead.CLead()[pri:0, instance:testcases.createlead@56235b8e]">CLead</td> 
  <td>main@1033490990</td>   <td></td> </tr>
</table>
