<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>sanity</td><td>TC002_EditLead.Elead()[pri:0, instance:testcases.TC002_EditLead@527740a2]<br/></td></tr>
<tr><td>smoke</td><td>TC001_Createlead.CLead()[pri:0, instance:testcases.TC001_Createlead@13a5fe33]<br/></td></tr>
</table>
