<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>GrpSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>19/01/12 13:02:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Createlead.CLead()[pri:0, instance:testcases.TC001_Createlead@13a5fe33]">CLead</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/01/12 13:03:12</td>   <td>43708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_EditLead.Elead()[pri:0, instance:testcases.TC002_EditLead@527740a2]">Elead</td> 
  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/01/12 13:02:16</td>   <td>-12614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC001_Createlead@13a5fe33]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/01/12 13:02:58</td>   <td>29393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC002_EditLead@527740a2]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/01/12 13:02:56</td>   <td>27056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.logout()[pri:0, instance:testcases.TC001_Createlead@13a5fe33]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/01/12 13:04:21</td>   <td>112484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.logout()[pri:0, instance:testcases.TC002_EditLead@527740a2]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>19/01/12 13:02:16</td>   <td>-12645</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reports.report()[pri:0, instance:testcases.TC001_Createlead@13a5fe33]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>19/01/12 13:02:58</td>   <td>29393</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reports.report()[pri:0, instance:testcases.TC002_EditLead@527740a2]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/01/12 13:02:16</td>   <td>-12661</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_Createlead.setData()[pri:0, instance:testcases.TC001_Createlead@13a5fe33]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>19/01/12 13:02:16</td>   <td>-12661</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_EditLead.setData()[pri:0, instance:testcases.TC002_EditLead@527740a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>19/01/12 13:02:16</td>   <td>-12661</td> <td>&nbsp;</td><td title="&gt;&gt;TC003_MergeLead.setData()[pri:0, instance:testcases.TC003_MergeLead@6d7b4f4c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>19/01/12 13:02:15</td>   <td>-13880</td> <td title="&gt;&gt;Reports.startReport()[pri:0, instance:testcases.TC003_MergeLead@6d7b4f4c]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>19/01/12 13:04:23</td>   <td>114991</td> <td title="&lt;&lt;Reports.stopReport()[pri:0, instance:testcases.TC003_MergeLead@6d7b4f4c]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36333492</td>   <td></td> </tr>
</table>
