<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LeadSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>19/01/05 09:26:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.Dlead()[pri:0, instance:testcases.DuplicateLead@2038ae61]">Dlead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/01/05 09:27:47</td>   <td>58267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="createlead.CLead()[pri:0, instance:testcases.createlead@544fe44c]">CLead</td> 
  <td>main@520016214</td>   <td></td> </tr>
</table>
