<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CEMLSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a8684">  <td>19/01/12 10:51:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Createlead.CLead1()[pri:0, instance:testcases.TC001_Createlead@3108bc]">CLead1</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/01/12 10:52:15</td>   <td>46841</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterClass()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/01/12 10:52:15</td>   <td>46904</td> <td title="&lt;&lt;Annotations.afterSuite()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/01/12 10:52:15</td>   <td>46841</td> <td>&nbsp;</td><td title="&lt;&lt;Annotations.afterTest()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/01/12 10:51:16</td>   <td>-12902</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeClass()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/01/12 10:51:16</td>   <td>-12917</td> <td title="&gt;&gt;Annotations.beforeSuite()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/01/12 10:51:16</td>   <td>-12917</td> <td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeTest()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/01/12 10:51:16</td>   <td>-12855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9bd5b0">  <td>19/01/12 10:52:13</td>   <td>44429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.logout()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>19/01/12 10:51:16</td>   <td>-12870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reports.report()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&gt;&gt;report</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/01/12 10:51:16</td>   <td>-12902</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_Createlead.setData()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>19/01/12 10:51:14</td>   <td>-14042</td> <td title="&gt;&gt;Reports.startReport()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>19/01/12 10:52:15</td>   <td>46904</td> <td title="&lt;&lt;Reports.stopReport()[pri:0, instance:testcases.TC001_Createlead@3108bc]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
</table>
