<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>merge editSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>19/01/05 11:02:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.AfterMethod()[pri:0, instance:testcases.MergeLead@6fc6f14e]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=MergeEditTest-1@2111159647</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 11:02:57</td>   <td>1407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.AfterMethod()[pri:0, instance:testcases.EditLead@56235b8e]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=MergeEditTest-2@2049347030</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/01/05 11:02:48</td>   <td>-7632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.Elead()[pri:0, instance:testcases.EditLead@56235b8e]">Elead</td> 
  <td>TestNG-test=MergeEditTest-2@2049347030</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 11:02:34</td>   <td>-21716</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeClass()[pri:0, instance:testcases.MergeLead@6fc6f14e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=MergeEditTest-1@2111159647</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 11:02:34</td>   <td>-21700</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeClass()[pri:0, instance:testcases.EditLead@56235b8e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=MergeEditTest-2@2049347030</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 11:02:34</td>   <td>-21731</td> <td title="&gt;&gt;Annotations.beforeSuite()[pri:0, instance:testcases.MergeLead@6fc6f14e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 11:02:34</td>   <td>-21716</td> <td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeTest()[pri:0, instance:testcases.MergeLead@6fc6f14e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1033490990</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 11:02:34</td>   <td>-21700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.MergeLead@6fc6f14e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=MergeEditTest-1@2111159647</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/01/05 11:02:34</td>   <td>-21700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login()[pri:0, instance:testcases.EditLead@56235b8e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=MergeEditTest-2@2049347030</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/01/05 11:02:48</td>   <td>-7815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MergeLead.mlead()[pri:0, instance:testcases.MergeLead@6fc6f14e]">mlead</td> 
  <td>TestNG-test=MergeEditTest-1@2111159647</td>   <td></td> </tr>
</table>
