<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ParameterSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67aeb6">  <td>19/01/19 20:20:28</td>   <td>0</td> <td title="&gt;&gt;Reports.startReport()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/01/19 20:20:30</td>   <td>1219</td> <td title="&gt;&gt;Annotations.beforeSuite()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/01/19 20:20:30</td>   <td>1234</td> <td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeTest()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/01/19 20:20:30</td>   <td>1234</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_EditLead.setData()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/01/19 20:20:30</td>   <td>1250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reports.report()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/01/19 20:20:30</td>   <td>1265</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeClass()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/01/19 20:20:31</td>   <td>2106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_EditLead@370736d9]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>19/01/19 20:20:42</td>   <td>13619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_EditLead.Elead(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_EditLead@370736d9]">Elead</td> 
  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/01/19 20:21:28</td>   <td>59082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.logout()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/01/19 20:21:30</td>   <td>61227</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterClass()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/01/19 20:21:30</td>   <td>61227</td> <td>&nbsp;</td><td title="&lt;&lt;Annotations.afterTest()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>19/01/19 20:21:30</td>   <td>61290</td> <td title="&lt;&lt;Annotations.afterSuite()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/01/19 20:21:30</td>   <td>61290</td> <td title="&lt;&lt;Reports.stopReport()[pri:0, instance:testcases.TC002_EditLead@370736d9]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520016214</td>   <td></td> </tr>
</table>
